

/* ==========================================================================
   Global custom styles starts here
   ========================================================================== */



body{ background: #f0f0f0;}
 h1, h2, h3, h4, h5, h6{
     margin: 0;
}
h1{}
h2{}
h3{}
h4{}
h5{}
h6{}
a{transition: all 1s;}
.btn:hover{transition:all 1s;}
p{color: #869093; font-size: 14px; line-height: 26px;  padding-bottom: 15px; margin-bottom: 0;}

.spacing-t{padding-top: 30px;}
.spacing-b{padding-bottom: 30px;}
.spacing-l{padding-left: 30px;}
.spacing-r{padding-right: 30px;}

.image-spacing{padding-bottom: 25px;}
.no-border{border-bottom: none !important;}



/* ==========================================================================
   Menu custom styles starts here
   ========================================================================== */
	.header-wrapper{background: url(../img/body-bg.jpg) repeat; margin: 0 auto; overflow: hidden;}
	.site-header{ background: #383838; margin-top: 60px}
	.menu{float: right; }
	.menu .navbar .nav > .active > a{color: #47C83E; font-size: 14px; box-shadow: none; text-shadow: none; background-image: none; background: #2a2a2a;}
	.menu .navbar .nav > li{text-transform: uppercase; border-right: 1px solid #292929;}
	.menu .navbar .nav > li > a {color: #fff; font-size: 14px; text-shadow: none; padding: 20px;}
	.menu .navbar .nav > li > a:hover{background: #2a2a2a; color: #47C83E;}
	.site-name{margin-top: -10px; position: absolute;}
	.site-name h1{background: #47C83E; color: #fff; padding:20px ; border-radius: 5px; text-transform: uppercase;}
	
	
/* ==========================================================================
   Footer custom styles starts here
   ========================================================================== */
   	.footer-wrapper{background-color: #2a2a2a; padding-top: 50px; padding-bottom: 55px; overflow: hidden; margin-top: -25px}
	.footer-links{color: #fff; padding-bottom: 30px; border-bottom: 1px solid #484747;}
	.footer-links .copy-rights{}
	.footer-links .copy-rights span{color: #22FF1F; font-size: 17px; line-height: 20px; }
	.footer-links .copy-rights a{color: #a5a5a5;}
	.footer-links .copy-rights a:hover{color: #fff; text-decoration: none;}
	.site-footer{padding-top: 35px;}
	.footer-menu{}
	.footer-menu ul{margin-left: 300px; text-align: center;}
	.footer-menu ul li{list-style: none; display: inline-block;}
	.footer-menu ul li a{color: #22FF1F; font-size: 30px; line-height: 20px;}
	.footer-menu ul li a:hover{text-decoration: none; color: #fff;}

/* ==========================================================================
   Responsive Tweaks starts here
   ========================================================================== */
  .navbar .btn-navbar{background: #f85c5e; color: #fff; margin-top: 20px; margin-bottom: 3px; float: none !important;
  						 border: none; margin-left: 0; margin-right: 0;}
  .navbar .btn-navbar:hover{background: #2a2a2a; color: #f85c5e; border: none;}


